<script language="JavaScript"> 
    window.location="https://appnagata.herokuapp.com"; 
    </script> 
    
    <noscript> 
    Se não for direcionado automaticamente, clique <a href="https://appnagata.herokuapp.com">aqui</a>. 
    </noscript>